In [1]:
import requests
import bs4
import warnings 
warnings.filterwarnings('ignore')
from bs4 import BeautifulSoup
import pandas as pd
import re

1)  Write a python program to display all the header tags from wikipedia.org

In [69]:
page=requests.get('https://en.wikipedia.org/wiki/Main_Page')
page

In [70]:
soup=BeautifulSoup(page.content,'html')

In [75]:
Header_tags= []
for tag in soup.find_all('h2', class_='mp-h2'):
    Header_tags.append(tag.text.strip())

In [76]:
Header_tags

["From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages']

2)  Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year
of release) and make data frame.

In [6]:
page=requests.get('https://www.imdb.com/list/ls056092300/')
page

In [7]:
soup=BeautifulSoup(page.content)

In [8]:
#scraping name
Name=[]
 
for i in soup.find_all('h3',class_='lister-item-header'):
    name=i.find('a')
    Name.append(name.text)
#sraping ratings
Rating=[]
for i in soup.find_all('div',class_='ipl-rating-star small'):
    rating=i.text.replace('\n','')
    Rating.append(rating)

#scraping year_of_redlease
Year_of_release=[]

for i in soup.find_all('span',class_='lister-item-year text-muted unbold'):
    Year_of_release.append(i.text.strip())

In [9]:
Film=pd.DataFrame({'Name':Name,'Rating':Rating,'Year_of_release':Year_of_release})
Film

                                 Name Rating Year_of_release
0                     Ship of Theseus      8          (2012)
1                              Iruvar    8.4          (1997)
2                     Kaagaz Ke Phool    7.8          (1959)
3   Lagaan: Once Upon a Time in India    8.1          (2001)
4                     Pather Panchali    8.2          (1955)
..                                ...    ...             ...
95                        Apur Sansar    8.4          (1959)
96                        Kanchivaram    8.2          (2008)
97                    Monsoon Wedding    7.3          (2001)
98                              Black    8.1          (2005)
99                            Deewaar      8          (1975)

[100 rows x 3 columns]

3)  Write a python program to scrape mentioned details from dineout.co.in : i) Restaurant name
ii) Cuisine iii) Location iv) Ratings v) Image URL.

In [22]:
page=requests.get('https://www.dineout.co.in/hyderabad-restaurants/welcome-back')
page

In [23]:
soup=BeautifulSoup(page.content)

In [48]:
names=[]

for i in soup.find_all('a',class_="restnt-name ellipsis"):
    names.append(i.text)

In [51]:
cuisine=[]

for i in soup.find_all('span',class_='double-line-ellipsis'):
    cuisine.append(i.text)

In [26]:
Location=[]

for i in soup.find_all('div',class_='restnt-loc ellipsis'):
    Location.append(i.text)

In [37]:
ratings=[]

for i in soup.find_all('div',class_='restnt-rating-widget pull-right text-right'):
    ratings.append(i.text)

In [28]:
image=[]

for i in soup.find_all('img',class_='no-img'):
    image.append(i['data-src'])

In [53]:
len(names),len(cuisine),len(Location),len(ratings),len(image)

(21, 21, 21, 21, 21)

In [55]:
Restaurent=pd.DataFrame({'Restaurent_name':names,'Cuisine':cuisine,'Location':Location,'ratings':ratings,'image':image})
Restaurent

,Restaurent_name,Cuisine,Location,ratings,image
0,By The Bay - Bar Exchange,"₹ 1,800 for 2 (approx) | North Indian, Contine...","Khairatabad, Central Hyderabad",4.3232 votes,https://im1.dineout.co.in/images/uploads/resta...
1,Pizza Hut,"₹ 800 for 2 (approx) | Pizza, Fast Food","The Grand Building,Somajiguda, Central East Hy...",4.3232 votes,https://im1.dineout.co.in/images/uploads/resta...
2,Seven Spices,"₹ 1,000 for 2 (approx) | Andhra, Biryani","Somajiguda, Central East Hyderabad",4.3232 votes,https://im1.dineout.co.in/images/uploads/resta...
3,Verandah,"₹ 3,300 for 2 (approx) | Chinese, North Indian...","The Park,Somajiguda, Central East Hyderabad",4.3232 votes,https://im1.dineout.co.in/images/uploads/resta...
4,Eagles Pizza,"₹ 600 for 2 (approx) | Pizza, Fast Food","Ohud Building,Somajiguda, Central East Hyderabad",4.3232 votes,https://im1.dineout.co.in/images/uploads/resta...
5,Headquarters,"₹ 1,700 for 2 (approx) | North Indian, Italian...","Somajiguda, Central East Hyderabad",4.3232 votes,https://im1.dineout.co.in/images/uploads/resta...
6,Kuchipudi,"₹ 1,000 for 2 (approx) | Andhra, North Indian","Katriya Hotel,Somajiguda, Central East Hyderabad",4.3232 votes,https://im1.dineout.co.in/images/uploads/resta...
7,Hideaway,₹ 400 for 2 (approx) | Chinese,"Begumpet, Secunderabad",4.3232 votes,https://im1.dineout.co.in/images/uploads/resta...
8,Rocket Fuel Cafe,₹ 800 for 2 (approx) | Fast Food,"Somajiguda, Central East Hyderabad",4.3232 votes,https://im1.dineout.co.in/images/uploads/resta...
9,One Fine Day,₹ 300 for 2 (approx) | Desserts,"Necklace Road, Secunderabad",4.3232 votes,https://im1.dineout.co.in/images/uploads/resta...
10,Ice n Spice,"₹ 800 for 2 (approx) | North Indian, Continent...","Hotel Inner Circle,Somajiguda, Central East Hy...",4.3232 votes,https://im1.dineout.co.in/images/uploads/resta...
11,Gayathri Bhavan,"₹ 400 for 2 (approx) | Chinese, Biryani","SR Nagar, Central East Hyderabad",4.3232 votes,https://im1.dineout.co.in/images/uploads/resta...
12,Urvasi Bar And Restaurant,"₹ 1,000 for 2 (approx) | North Indian, Chinese","Hotel Urvasi,Panjagutta, Central East Hyderabad",4.3232 votes,https://im1.dineout.co.in/images/uploads/resta...
13,Bidri,"₹ 3,500 for 2 (approx) | Andhra, North Indian,...",Hyderabad Marriott Hotel and Convention Centre...,4.3232 votes,https://im1.dineout.co.in/images/uploads/resta...
14,WAFL Cafe,"₹ 500 for 2 (approx) | Desserts, Fast Food, Be...","Khairatabad, Central Hyderabad",4.3232 votes,https://im1.dineout.co.in/images/uploads/resta...
15,Ohris Jiva Imperia,"₹ 1,200 for 2 (approx) | North Indian, Chinese...","White House,Begumpet, Secunderabad",4.3232 votes,https://im1.dineout.co.in/images/uploads/resta...
16,10 Downing Street,"₹ 2,000 for 2 (approx) | Finger Food, Chinese,...","Begumpet, Secunderabad",4.3232 votes,https://im1.dineout.co.in/images/uploads/resta...
17,Subway,₹ 500 for 2 (approx) | Fast Food,"Somajiguda, Central East Hyderabad",4.3232 votes,https://im1.dineout.co.in/images/uploads/resta...
18,Ohri's Eatmor,"₹ 500 for 2 (approx) | North Indian, Chinese, ...","White House,Begumpet, Secunderabad",4.3232 votes,https://im1.dineout.co.in/images/uploads/resta...
19,Country Dine,"₹ 700 for 2 (approx) | Chinese, North Indian","Ameerpet, Central East Hyderabad",4.3232 votes,https://im1.dineout.co.in/images/uploads/resta...
20,Parampara - Flavours of india,"₹ 1,000 for 2 (approx) | Chinese, North Indian","ANR Center,Banjara Hills, Central East Hyderabad",4.3232 votes,https://im1.dineout.co.in/images/uploads/resta...

4)  Write s python program to display list of respected former finance minister of India(i.e.
Name , Term of office) from https://presidentofindia.nic.in/former-presidents.htm and make
data frame.

In [57]:
page=requests.get('https://presidentofindia.nic.in/former-presidents')
page

In [58]:
soup=BeautifulSoup(page.content)

In [61]:
name=[]

for i in soup.find_all('div',class_='desc-sec'):
    name.append(i.text.strip())

In [64]:
Term_of_office=[]

for i in soup.find_all('div',class_='desc-sec'):
    term=i.find('h5')
    Term_of_office.append(term.text)

In [67]:
len(name),len(Term_of_office)

(14, 14)

In [68]:
Former_president=pd.DataFrame({'Name':name,'Term_of_office':Term_of_office})
Former_president

                                                 Name           Term_of_office
0       Shri Ram Nath Kovind\n14th President of India  14th President of India
1      Shri Pranab Mukherjee\n13th President of India  13th President of India
2   Smt Pratibha Devisingh Patil\n12th President o...  12th President of India
3     DR. A.P.J. Abdul Kalam\n11th President of India  11th President of India
4       Shri K. R. Narayanan\n10th President of India  10th President of India
5    Dr Shankar Dayal Sharma\n9th  President of India  9th  President of India
6         Shri R Venkataraman\n8th President of India   8th President of India
7            Giani Zail Singh\n7th President of India   7th President of India
8   Shri Neelam Sanjiva Reddy\n6th President of India   6th President of India
9    Dr. Fakhruddin Ali Ahmed\n5th President of India   5th President of India
10  Shri Varahagiri Venkata Giri\n4th President of...   4th President of India
11           Dr. Zakir Husain\n3rd President of India   3rd President of India
12  Dr. Sarvepalli Radhakrishnan\n2nd President of...   2nd President of India
13        Dr. Rajendra Prasad\n1st President of India   1st President of India