# WEB SCRAPING – ASSIGNMENT 4

Name : Radha Kulkarni                                                                                                            
Batch : DS2401

In [1]:
import pandas as pd
import re
import warnings
warnings.filterwarnings('ignore')
from selenium import webdriver
from selenium.webdriver.common.by import By
from bs4 import BeautifulSoup
import requests
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
import time

# 1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details:                                                                                        A)Rank                                                                                                                            B) Name                                                                                                                         C) Artist                                                                                                                       D) Upload date                                                                                                                E) View

In [11]:
driver=webdriver.Chrome()
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [12]:
name=[]
artist=[]
upload_date=[]
view=[]

In [13]:
name_tag=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[1]')
for tag in name_tag:
    name.append(tag.text)

In [15]:
artist_tag=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[2]')
for tag in artist_tag:
    artist.append(tag.text)

In [16]:
date_tag=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[4]')
for tag in date_tag:
    upload_date.append(tag.text)

In [17]:
view_tag=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[3]')
for tag in view_tag:
    view.append(tag.text)

In [27]:
Youtube=pd.DataFrame({'Name':name,'Artist':artist,'Upload Date':upload_date,'Views':view})

Youtube.index = Youtube.index + 1
Youtube.index.name = 'Rank'
Youtube

,Name,Artist,Upload Date,Views
Rank,,,,
1,"""Baby Shark Dance""[7]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",14.22
2,"""Despacito""[10]",Luis Fonsi,"January 12, 2017",8.40
3,"""Johny Johny Yes Papa""[18]",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.88
4,"""Bath Song""[19]",Cocomelon - Nursery Rhymes,"May 2, 2018",6.65
5,"""Shape of You""[20]",Ed Sheeran,"January 30, 2017",6.22
6,"""See You Again""[23]",Wiz Khalifa,"April 6, 2015",6.20
7,"""Wheels on the Bus""[28]",Cocomelon - Nursery Rhymes,"May 24, 2018",5.95
8,"""Phonics Song with Two Words""[29]",ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.73
9,"""Uptown Funk""[30]",Mark Ronson,"November 19, 2014",5.17
10,"""Gangnam Style""[31]",Psy,"July 15, 2012",5.09
11,"""Learning Colors – Colorful Eggs on a Farm""[36]",Miroshka TV,"February 27, 2018",5.08
12,"""Masha and the Bear – Recipe for Disaster""[37]",Get Movies,"January 31, 2012",4.58
13,"""Dame Tu Cosita""[38]",Ultra Records,"April 5, 2018",4.57
14,"""Axel F""[39]",Crazy Frog,"June 16, 2009",4.40
15,"""Sugar""[40]",Maroon 5,"January 14, 2015",4.02
16,"""Baa Baa Black Sheep""[41]",Cocomelon - Nursery Rhymes,"June 25, 2018",3.99
17,"""Counting Stars""[42]",OneRepublic,"May 31, 2013",3.99
18,"""Roar""[43]",Katy Perry,"September 5, 2013",3.97
19,"""Lakdi Ki Kathi""[44]",Jingle Toons,"June 14, 2018",3.95
20,"""Waka Waka (This Time for Africa)""[45]",Shakira,"June 4, 2010",3.88
21,"""Sorry""[46]",Justin Bieber,"October 22, 2015",3.78
22,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.75
23,"""Thinking Out Loud""[48]",Ed Sheeran,"October 7, 2014",3.74
24,"""Shree Hanuman Chalisa""[49]",T-Series Bhakti Sagar,"May 10, 2011",3.74
25,"""Perfect""[50]",Ed Sheeran,"November 9, 2017",3.69
26,"""Dark Horse""[51]",Katy Perry,"February 20, 2014",3.69
27,"""Let Her Go""[52]",Passenger,"July 25, 2012",3.63
28,"""Faded""[53]",Alan Walker,"December 3, 2015",3.60
29,"""Girls Like You""[54]",Maroon 5,"May 31, 2018",3.57
30,"""Lean On""[55]",Major Lazer Official,"March 22, 2015",3.56

In [31]:
driver.close()

# 2. Scrape the details team India’s international fixtures from bcci.tv.Url = https://www.bcci.tv/.You need to find following details:                                                                  A) SeriesB) PlaceC) DateD) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [32]:
driver=webdriver.Chrome()
driver.get('https://www.bcci.tv/.You')

In [33]:
fixture_page=driver.find_element(By.XPATH,'/html/body/header/div[3]/div[2]/ul/div[1]/a[2]')
fixture_page.click()
time.sleep(2)

In [34]:
series=[]
place=[]
date=[]
time=[]

In [35]:
series_tag=driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
for tag in series_tag:
    series.append(tag.text)

In [37]:
place_tag=driver.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]')
for tag in place_tag:
    place.append(tag.text)

In [39]:
date_tag=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
for tag in date_tag:
    date.append(tag.text)

In [40]:
time_tag=driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
for tag in time_tag:
    time.append(tag.text)

In [41]:
International_fixtures=pd.DataFrame({'Series':series,'Place':place,'Date':date,'Time':time})
International_fixtures

,Series,Place,Date,Time
0,ICC MENS T20 WORLD CUP 2024,"Nassau County International Cricket Stadium, N...","5 JUNE, 2024",8:00 PM IST
1,ICC MENS T20 WORLD CUP 2024,"Nassau County International Cricket Stadium, N...","9 JUNE, 2024",8:00 PM IST
2,ICC MENS T20 WORLD CUP 2024,"Nassau County International Cricket Stadium, N...","12 JUNE, 2024",8:00 PM IST
3,ICC MENS T20 WORLD CUP 2024,"Central Broward Park & Broward County Stadium,...","15 JUNE, 2024",8:00 PM IST
4,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","6 JULY, 2024",8:00 PM IST
5,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","7 JULY, 2024",8:00 PM IST
6,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","10 JULY, 2024",8:00 PM IST
7,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","13 JULY, 2024",8:00 PM IST
8,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","14 JULY, 2024",8:00 PM IST

In [42]:
driver.close()

# 3. Scrape the details of State-wise GDP of India from statisticstime.com.Url = http://statisticstimes.com/  You have to find following details: A) RankB) StateC) GSDP(18-19)- at current pricesD) GSDP(19-20)- at current pricesE) Share(18-19)F) GDp($billion )                                                                                                                                                                                                                                 

Note: - From statisticstimes home page you have to reach to economy page through code.

In [23]:
driver=webdriver.Chrome()
driver.get('http://statisticstimes.com/')

In [26]:
economy=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
economy.click()

In [27]:
india=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
india.click()

In [28]:
state_wise=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
state_wise.click()

In [32]:
Rank=[]
state=[]
Gsdp=[]
gsdp=[]
share=[]
gdp=[]

In [33]:
rank_tag=driver.find_elements(By.XPATH,'//div[5][@class="fwidth"]/div[1]/div[1]/table/tbody/tr/td[1]')
for tag in rank_tag:
    Rank.append(tag.text)

In [35]:
state_tag=driver.find_elements(By.XPATH,'//div[5][@class="fwidth"]/div[1]/div[1]/table/tbody/tr/td[2]')
for tag in state_tag:
    state.append(tag.text)

In [37]:
Gsdp_tag=driver.find_elements(By.XPATH,'//div[5][@class="fwidth"]/div[1]/div[1]/table/tbody/tr/td[4]')
for tag in Gsdp_tag:
    Gsdp.append(tag.text)

In [39]:
gsdp_tag=driver.find_elements(By.XPATH,'//div[5][@class="fwidth"]/div[1]/div[1]/table/tbody/tr/td[3]')
for tag in gsdp_tag:
    gsdp.append(tag.text)

In [40]:
share_tag=driver.find_elements(By.XPATH,'//div[5][@class="fwidth"]/div[1]/div[1]/table/tbody/tr/td[5]')
for tag in share_tag:
    share.append(tag.text)

In [41]:
gdp_tag=driver.find_elements(By.XPATH,'//div[5][@class="fwidth"]/div[1]/div[1]/table/tbody/tr/td[6]')
for tag in gdp_tag:
    gdp.append(tag.text)

In [45]:
State_wise_GDP=pd.DataFrame({'Rank':Rank,'State':state,'GSDP(21-22)At_current_prices':Gsdp,'GSDP(22-23)_At_current_prices':gsdp,'Share(21-22)':share,'GDP ($ Billion)':gdp})
State_wise_GDP.set_index('Rank',inplace=True)
State_wise_GDP

,State,GSDP(21-22)At_current_prices,GSDP(22-23)_At_current_prices,Share(21-22),GDP ($ Billion)
Rank,,,,,
2,Tamil Nadu,"2,071,286","2,364,514",8.78%,276.522
3,Uttar Pradesh,"1,974,532","2,257,575",8.37%,263.605
4,Karnataka,"1,962,725","2,241,368",8.32%,262.029
6,West Bengal,"1,363,926","1,554,992",5.78%,182.087
7,Rajasthan,"1,218,193","1,413,620",5.16%,162.632
8,Madhya Pradesh,"1,136,137","1,322,821",4.81%,151.677
9,Andhra Pradesh,"1,133,837","1,317,728",4.80%,151.370
10,Telangana,"1,128,907","1,313,391",4.78%,150.712
12,Delhi,"904,642","1,043,759",3.83%,120.772
13,Haryana,"870,665","994,154",3.69%,116.236
14,Odisha,"670,881","774,869",2.84%,89.564
15,Bihar,"650,302","751,396",2.76%,86.817
16,Punjab,"614,227","673,107",2.60%,82.001
17,Assam,"412,612","493,167",1.75%,55.085
18,Chhattisgarh,"406,416","457,608",1.72%,54.258
19,Jharkhand,"358,863","393,722",1.52%,47.909
20,Uttarakhand,"272,159","302,621",1.15%,36.334
21,Jammu & Kashmir-UT,"199,917","227,927",0.85%,26.689
22,Himachal Pradesh,"176,269","195,405",0.75%,23.532
24,Tripura,"62,550","72,636",0.27%,8.351
28,Sikkim,"37,557","42,756",0.16%,5.014
27,Meghalaya,"38,785","42,697",0.16%,5.178
1,Maharashtra,"3,108,022",-,13.17%,414.928
5,Gujarat,"1,937,066",-,8.21%,258.603
11,Kerala,"932,470",-,3.95%,124.487
23,Goa,"82,604",-,0.35%,11.028
25,Chandigarh,"45,635",-,0.19%,6.092
26,Puducherry,"44,238",-,0.19%,5.906
29,Manipur,"36,594",-,0.16%,4.885
30,Arunachal Pradesh,"35,124",-,0.15%,4.689
31,Nagaland,"31,913",-,0.14%,4.260
32,Mizoram,"27,824",-,0.12%,3.715
33,Andaman & Nicobar Islands,"10,371",-,0.04%,1.385

In [46]:
driver.close()

# 4. Scrape the details of trending repositories on Github.com.Url = https://github.com/You have to find the following detailsA) Repository titleB) Repository descriptionC) Contributors countD) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [2]:
driver=webdriver.Chrome()
driver.get('https://github.com/You')

In [4]:
menu_button=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[1]/div[2]/button/span/span')
menu_button.click()

In [7]:
source_button=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
source_button.click()

In [8]:
trending=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
trending.click()

In [10]:
repository_title=[]
repository_description=[]
contributors_count=[]
language_used=[]

In [14]:
title_tag=driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]')
for tag in title_tag:
    repository_title.append(tag.text)

In [13]:
description_tag=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for tag in description_tag:
    repository_description.append(tag.text)

In [12]:
contributors_tag=driver.find_elements(By.XPATH,'//a[2][@class="Link Link--muted d-inline-block mr-3"]')
for tag in contributors_tag:
    contributors_count.append(tag.text)

In [18]:
try:
    Language_used=[]
    language_tag=driver.find_elements(By.XPATH,'//div[@class="f6 color-fg-muted mt-2"]/span[1]')
    for tag in language_tag:
        Language_used.append(tag.text)  
except NoSuchElementException:
    Language_used.append("_")

In [21]:
Trending_reprository=pd.DataFrame({'Repository Title':repository_title,'Repository Description':repository_description,'Contributors count':contributors_count, 'Language Used':Language_used})
Trending_reprository

,Repository Title,Repository Description,Contributors count,Language Used
0,jasonppy / VoiceCraft,Zero-Shot Speech Editing and Text-to-Speech in...,339,Jupyter Notebook
1,valkey-io / valkey,A new project to resume development on the for...,216,C
2,agiresearch / AIOS,AIOS: LLM Agent Operating System,125,Python
3,midday-ai / midday,Run your business smarter.,165,TypeScript
4,OpenDevin / OpenDevin,"🐚 OpenDevin: Code Less, Make More","1,160",Jupyter Notebook
5,Zejun-Yang / AniPortrait,AniPortrait: Audio-Driven Synthesis of Photore...,290,Python
6,developersdigest / llm-answer-engine,Build a Perplexity-Inspired Answer Engine Usin...,306,TypeScript
7,microsoft / generative-ai-for-beginners,"18 Lessons, Get Started Building with Generati...","19,405",Jupyter Notebook
8,harry0703 / MoneyPrinterTurbo,利用AI大模型，一键生成高清短视频 Generate short videos with o...,"1,005",Python
9,tiangolo / typer,"Typer, build great CLIs. Easy to code. Based o...",566,Python
10,DioxusLabs / dioxus,"Fullstack GUI library for desktop, web, mobile...",589,Rust
11,iv-org / invidious,Invidious is an alternative front-end to YouTube,"1,604",Crystal
12,TMElyralab / MuseV,MuseV: Infinite-length and High Fidelity Virtu...,57,Python
13,adrianhajdin / zoom-clone,Learn to develop a professional enterprise-rea...,80,TypeScript
14,OpenBMB / ChatDev,Create Customized Software using Natural Langu...,"2,630",Shell
15,btcpayserver / btcpayserver,"Accept Bitcoin payments. Free, open-source & s...","1,532",C#
16,Atlas-OS / Atlas,🚀 An open and lightweight modification to Wind...,448,Batchfile
17,ReVanced / revanced-patches,🧩 Patches for ReVanced,101,Kotlin
18,modularml / mojo,The Mojo Programming Language,"2,254",Mojo
19,codecrafters-io / build-your-own-x,Master programming by recreating your favorite...,"23,963",Built by
20,xtekky / gpt4free,The official gpt4free repository | various col...,"12,718",Python
21,RVC-Project / Retrieval-based-Voice-Conversion...,Voice data <= 10 mins can also be used to trai...,"2,819",Python
22,doocs / source-code-hunter,😱 从源码层面，剖析挖掘互联网行业主流技术的底层实现原理，为广大开发者 “提升技术深度” 提...,"3,156",Java
23,helix-editor / helix,A post-modern modal text editor.,"2,108",Rust
24,jagrosh / MusicBot,🎶 A Discord music bot that's easy to set up an...,"2,356",Java

In [22]:
driver.close()

# 5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the following details:A) Song name B) Artist name C) Last week rank D) Peak rank E) Weeks on board



Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [48]:
driver=webdriver.Chrome()
driver.get('https://www.billboard.com/')

In [51]:
menu=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[4]/div/div[1]/div[1]/button')
menu.click()

In [52]:
charts=driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div/div/ul/li[1]/h3/a')
charts.click()

In [53]:
top_100=driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div[2]/div/div[1]/a/span/span')
top_100.click()

In [57]:
Song_name=[]
artist_name=[]
Last_week_rank=[]
Peak_rank=[]
weeks=[]

In [58]:
song_tag=driver.find_elements(By.XPATH,'//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]//ul//li[4]//ul//li[1]//h3')
for tag in song_tag:
    Song_name.append(tag.text)

In [60]:
artist_tag=driver.find_elements(By.XPATH,'//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]//ul//li[4]//ul//li[1]/span')
for tag in artist_tag:
    artist_name.append(tag.text)

In [68]:
weekrank_tag=driver.find_elements(By.XPATH,'//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]//ul//li[4]/ul/li[4]/span[1]')
for tag in weekrank_tag:
    Last_week_rank.append(tag.text)

In [73]:
peakrank_tag=driver.find_elements(By.XPATH,'//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]//ul/li[4]/ul/li[5]')
for tag in peakrank_tag:
    Peak_rank.append(tag.text)

In [65]:
week_tag=driver.find_elements(By.XPATH,'//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]//ul//li[4]//ul//li[6]')
for tag in week_tag:
    weeks.append(tag.text)

In [75]:
len(weeks)

100

In [79]:
Top_100_songs=pd.DataFrame({'Song name':Song_name,'Artist Name':artist_name,'Last Week Rank':Last_week_rank,'Peak Rank':Peak_rank,'Weeks On Board':weeks})

Top_100_songs

,Song name,Artist Name,Last Week Rank,Peak Rank,Weeks On Board
0,Lose Control,Teddy Swims,2,1,32
1,Beautiful Things,Benson Boone,3,2,9
2,We Can't Be Friends (Wait For Your Love),Ariana Grande,1,1,2
3,Lovin On Me,Jack Harlow,5,1,19
4,Carnival,¥$: Ye & Ty Dolla $ign Featuring Rich The Kid ...,4,1,6
...,...,...,...,...,...
95,We Ride,Bryan Martin,-,96,1
96,Tourniquet,Zach Bryan,97,20,12
97,Gata Only,FloyyMenor X Cris Mj,-,98,1
98,Igual Que Un Angel,Kali Uchis & Peso Pluma,94,22,10
99,We Don't Fight Anymore,Carly Pearce Featuring Chris Stapleton,-,67,11

# 6. Scrape the details of Highest selling novels. A) Book name  B) Author name C) Volumes sold  D) Publisher  E) Genre


Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [2]:
driver=webdriver.Chrome()
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [3]:
book_name=[]
author_name=[]
volumes_sold=[]
publisher=[]
genre=[]

In [20]:
rank=[]
rank_tag=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[1]')
for tag in rank_tag:
    rank.append(tag.text)

In [4]:
book_tag=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
for tag in book_tag:
    book_name.append(tag.text)

In [6]:
author_tag=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
for tag in author_tag:
    author_name.append(tag.text)

In [8]:
volume_tag=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
for tag in volume_tag:
    volumes_sold.append(tag.text)

In [9]:
publisher_tag=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
for tag in publisher_tag:
    publisher.append(tag.text)

In [11]:
genre_tag=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
for tag in genre_tag:
    genre.append(tag.text)

In [23]:
Novels=pd.DataFrame({'Rank':rank,'Book Name':book_name,'Author Name':author_name,'Volumes Sold':volumes_sold,'Publisher':publisher,'Genre':genre})
Novels.set_index('Rank',inplace=True)
Novels

,Book Name,Author Name,Volumes Sold,Publisher,Genre
Rank,,,,,
1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
96,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# 8. Details of Datasets from UCI machine learning repositories.Url = https://archive.ics.uci.edu/ Youhave to find the following details: A) Dataset name B) Data type C) Task   D) Attribute type  E) No of instances              F) No of attribute  G) Year


Note: - from the home page you have to go to the Show All Dataset page through code.

In [66]:
driver=webdriver.Chrome()
driver.get('https://archive.ics.uci.edu/ ')

In [67]:
dataset=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')
dataset.click()

In [70]:
datasetname=[]
datatype=[]
task=[]
attributetype=[]
numberofinstance=[]
numberofattributes=[]
years=[]

In [69]:
start=0
end=66
url=[]

for page in range (start,end):
    url_tag=driver.find_elements(By.XPATH,'//h2[@class="truncate text-primary"]/a')
    for tag in url_tag:
        url.append(tag.get_attribute('href'))
    next_button=driver.find_element(By.XPATH,'//button[@class="btn-primary btn-sm btn"][2]')
    next_button.click()
    time.sleep(2)

In [71]:
len(url)

660

In [85]:
for urls in url:
    driver.get(urls)
    time.sleep(10)
    
    try:
        name_tag=driver.find_element(By.XPATH,'//div[@class="flex flex-col"][1]/div[1]/div[2]/div/h1')
        datasetname.append(name_tag.text)
    except NoSuchElementException:
        datasetname.append('_')
        
    try:
        type_tag=driver.find_element(By.XPATH,'//div[@class="col-span-4"][1]/p')
        datatype.append(type_tag.text)
    except NoSuchElementException:
        datatype.append('_')
        
    try:
        task_tag=driver.find_element(By.XPATH,'//div[@class="col-span-4"][3]/p')
        task.append(task_tag.text)
    except NoSuchElementException:
        task.append('_')
        
    try:
        type_tag=driver.find_element(By.XPATH,'//div[@class="col-span-4"][4]/p')
        attributetype.append(type_tag.text)
    except NoSuchElementException:
        attributetype.append('_')
        
    try:
        instance_tag=driver.find_element(By.XPATH,'//div[@class="col-span-4"][5]/p')
        numberofinstance.append(instance_tag.text)
    except NoSuchElementException:
        numberofinstance.append('_')
        
    try:
        attribute_tag=driver.find_element(By.XPATH,'//div[@class="col-span-4"][6]/p')
        numberofattributes.append(attribute_tag.text)
    except NoSuchElementException:
        numberofattributes.append('_')
        
    try:
        year_tag=driver.find_element(By.XPATH,'//div[@class="flex flex-col"][1]/div[1]/div[2]/h2')
        years.append(year_tag.text)
    except NoSuchElementException:
        years.append('_')

In [94]:
Years=[i.split("/")[-1] for i in years]

In [95]:
len(datasetname),len(datatype),len(task),len(attributetype),len(numberofinstance),len(numberofattributes),len(Years)

(660, 660, 660, 660, 660, 660, 660)

In [103]:
Dataset=pd.DataFrame({'Dataset name':datasetname,'Data type':datatype,'Task':task,'Attribute type':attributetype,'No of instances':numberofinstance,'No of attribute':numberofattributes,'Year':Years})
Dataset

,Dataset name,Data type,Task,Attribute type,No of instances,No of attribute,Year
0,Iris,Tabular,Classification,Real,150,4,1988
1,Dry Bean,Multivariate,Classification,"Integer, Real",13611,16,2020
2,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303,13,1988
3,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3810,7,2019
4,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
...,...,...,...,...,...,...,...
655,BAUM-2,Time-Series,Classification,-,1047,-,2018
656,Prodigy,Domain-Theory,-,-,-,-,_
657,Moral Reasoner,Domain-Theory,-,-,202,-,1994
658,NSF Research Award Abstracts 1990-2003,Text,-,-,129000,-,2003
659,Undocumented,-,-,-,-,-,_

# Thank you